body{
  background-color: #1cbb9b;
}
body h2{
  color: black;
}
/*Diseño Cabezera*/
#cabezera{
  width: 100%;
  background-color: white;
  margin: 10px 0px 0px 0px;
  border-style: solid;
  border-width: 2px;
}
#cabezera .descripcion{
  align-items: center;
}
/*Diseño Buscar*/
#buscar{
  margin-top: 10px;
}
#buscar p{
  color: black;
  text-transform: capitalize;
}
#buscar input{
  margin-left: 10px;
  border-color: black;
  border-width: 2px;
}
#buscar button img{
  width: 20px;
  height: 20px;
}
/* Diseño boton search*/
#search{
  width: 100px;
  margin-left: 10px;
  background-color:#AAEEE1;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}
#search b{
  vertical-align: 30%;
}
/*Diseño Opciones*/
#opciones{
  margin-top: 10px;
  margin-bottom: 10px;
}
.centro{
  background-color: white;
  margin-top: 10px;
}
/*Diseño Boton Agregar*/
#add{
  width: 100px;
  background-color:#AAEEE1;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}
#add img{
  width: 20px;
  height: 20px;
}
#add b{
  vertical-align: 30%;
}
/*DIseño Boton Modificar*/
#update{
  width: 100px;
  background-color:#AAEEE1;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}
#update img{
  width: 20px;
  height: 20px;
}
#update b{
  vertical-align: 30%;
}
/*Diseño boton Reset*/
#reset{
  width: 100px;
  background-color:#AAEEE1;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}
#reset img{
  width: 20px;
  height: 20px;
}
#reset b{
  vertical-align: 30%;
}
/*Diseño Mostrar*/
#mostrar{
  width: 100%;
  background-color: white;
  margin: 10px 0px 0px 0px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
/*Diseño Formulario*/
#formulario{
  align-items: center;
}
#formulario input{

}
#formulario select{
  margin-top: 10px;
}
#formulario button{
  background-color: #eeeeee;
  margin-top: 10px;
}
#formulario button:hover{
  background-color: #333333;
  color: #ffffff;
}
#formulario img{
  width: 20px;
  height: 20px;
}
