body{
  background-color: #1cbb9b;
}
body h2{
  color: black;
}
/*Diseño Cabezera*/
#cabezera{
  width: 100%;
  background-color: white;
  margin: 10px 0px 0px 0px;
  border-style: solid;
  border-width: 2px;
}
#cabezera .descripcion{
  align-items: center;
}
#cabezera h3{
  position:relative;
  color: #00415d;
  margin: 10px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}

#cabezera button{
  position: relative;
  width:15%;
  background-color: #1CB94E;
  border: 1px solid black;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
#cabezera button:hover{
  background-color: #333333;
  color: #ffffff;
}
#cabezera button b{
  vertical-align: 30%;
}
#cabezera input{
  position: relative;
  vertical-align: 35%;
  width:20%;
  height:50px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
}
#cabezera input:focus{
  border-color: #358efb;
}
#buscar{
  margin-bottom: 10px;
}
#buscar img{
  width: 20px;
  height: 20px;
}
#opciones{
  margin-bottom: 10px;
}
#opciones img{
  width: 20px;
  height: 20px;
}
#mostrar{
  width: 100%;
  background-color: white;
  margin: 10px 0px 0px 0px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
