body{
  background-color: #1cbb9b;
}
.cabezera{
  text-align: center;
  position:relative;
  margin: 10px auto;
  width: 100%;
  height: 10%;
  background-color: #fff;
  padding: 10px;
  border: 3px solid black;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.table{
}
.button button{
  width:auto;
  background-color: #1CB94E;
  border: 1px solid black;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: auto;
  border-radius: 2px;
  text-transform: uppercase;
}
.centro{
  text-align: center;
  position:relative;
  margin: 10px auto;
  width: 100%;
  height: 10%;
  background-color: #fff;
  padding: 10px;
  border: 3px solid black;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
